@using Microsoft.EntityFrameworkCore;
@using HummingbirdFeeder.Data;


@page "/"
@inject IDbContextFactory<FeederDataContext> FeederDataContextFactory;

<PageTitle>Feeder</PageTitle>

<h1>Hummingbird Feeder Keeper</h1>

@if (MyFeeders is not null && MyFeeders.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered table-light border-dark">
            <thead>
                <tr>
                    <th scope="col">Feeder Name</th>
                    <th scope="col">Zip Code</th>
                    <th scope="col">Last Change Date</th>
                    <th scope="col">Quick Update</th>
                    <th scope="col">Check Feeder Status</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var feeder in MyFeeders)
                {
                    <tr>
                        <td>@feeder.FeederName</td>
                        <td>@feeder.Zipcode</td>
                        <td>@ConvertToDate(feeder.LastChangeDate)</td>
                        <td>
                            <button class="btn btn-primary" @onclick="() => ChangeFeederToday(feeder)">Changed Today</button>
                        </td>
                        @if (feeder.ChangeFeeder == null)
                        {
                            <td>Calculating Beep Boop...</td>
                        }
                        else if (feeder.ChangeFeeder == true)
                        {
                            <td>Time to change this feeder!</td>
                        }
                        else
                        {
                            <td>No action needed!</td>
                        }
                        <td><a href="/update/@feeder.FeederId" name="edit" type="submit" class="btn btn-warning">Edit</a></td>
                        <td><button name="delete" type="submit" class="btn btn-danger" @onclick="() => DeleteFeeder(feeder)">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<a href="/create" class="btn btn-success">Add New Feeder</a>

@if (MyFeeders is not null && MyFeeders.Count > 0)
{
    <div class="table-responsive">
        @foreach (Feeder feeder in MyFeeders)
        {
            <h3>Daily Highs Since Feeder @feeder.FeederName Has Been Changed</h3>
            <h6>Temperature information over 7 days will not be displayed. Feeders should always be changed at minimum once per week regardless of temperatures.</h6>
            <table class="table table-striped table-hover table-bordered table-light border-dark">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Daily High Temp</th>
                    </tr>
                </thead>
                <tbody>
                    @if (feederData.ContainsKey(feeder))
                    {
                        @foreach (var entry in feederData[feeder])
                        {
                            <tr>
                                <td>@entry.Key.ToString("yyyy-MM-dd")</td>
                                <td>@entry.Value</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
}
